.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page {
  background: #ffffff;
  padding: 10px 20px;
  height: 100%;
  display: none;
  position: relative;
}
.page.current-page {
  display: block;
}